body{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: small;
    
    
    
}

li{
    list-style: none;
    display: inline;
}

img{ 
    padding-top: 109px;
    display: block;
    margin: auto;
    height: 92px;
    width: 272px;
    
}
 
#srcbar{
    display: block;
    margin: auto;
}

#leftnav{
    float: left;
    
    
}

#rightnav{
    float: right;    
}

#searchbar{
    
    
}



#footer{
    bottom: 0;    
    height: 35px;
    position: fixed;
    width: 100%;
    
}
      
.leftfooter{
    float: left;
}

.rightfooter{
    float: right;
}